<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>Demo</title>
</head>

<body>
    <div id="app" style="margin: 50px auto;width:900px">
        <h1>Block #{{blocklist.height}}</h1>
        <table style="font-size: 17px;color:lightslategrey;width:900px;">
            <tr style="height:50px">
                <td style="padding-left: 10px">blockhash</td>
                <td style="padding-left:40px;color: black">{{blocklist.blockhash}}</td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">height</td>
                <td style="padding-left:40px;color: black">
                    <el-button type="text" style="font-size:18px" @click="handlebyheight">{{blocklist.height}}
                    </el-button>
                </td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">time</td>
                <td style="padding-left:40px;color: black">{{blocklist.time}}</td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">txSize</td>
                <td style="padding-left:40px;color: black">{{blocklist.txSize}}</td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">difficulty</td>
                <td style="padding-left:40px;color: black">{{blocklist.difficulty}}</td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">prevBlockhash</td>
                <td style="padding-left:40px">
                    <el-button type="text" style="font-size:18px;color: chartreuse" @click="handprevBlockhash">
                        {{blocklist.prevBlockhash}}</el-button>
                </td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">nextBlockhash</td>
                <td style="padding-left:40px">
                    <el-button type="text" style="font-size:18px;color: chartreuse" @click="handnextBlockhash">
                        {{blocklist.nextBlockhash}}</el-button>
                </td>
            </tr>
            <tr style="height:50px">
                <td style="padding-left:10px">merkleRoot</td>
                <td style="padding-left:40px">{{blocklist.merkleRoot}}</td>
            </tr>
        </table>
        <br><br><br>
        <h1>Transactions</h1>
        <el-table :data="blocktransaction">
            <el-table-column type="expand">
                <template slot-scope="props">
                    发送者的地址
                    <ul>
                        <li v-for="x in props.row.txDetailInTxInfos" v-if="x.type == 1">
                            <span v-if="x.address != null">
                                <el-button @click="handbyaddress(x.address)" type="text" size="small">{{x.address}}
                                </el-button>
                            </span>
                            <span v-else>not
                                found</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发送的比特币{{x.amount}}
                        </li>
                    </ul>
                    接收者的地址
                    <ul>
                        <li v-for="x in props.row.txDetailInTxInfos" v-if="x.type == 2">
                            <span v-if="x.address != null">
                                <el-button @click="handbyaddress(x.address)" type="text" size="small">{{x.address}}
                                </el-button>
                            </span>
                            <span v-else>not
                                found</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接收的比特币{{x.amount}}
                        </li>
                    </ul>
                </template>
            </el-table-column>
            <el-table-column prop="txid" label="交易ID" width="600">
            </el-table-column>
            <el-table-column prop="time" label="交易时间" width="240">
            </el-table-column>
        </el-table>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/BlockList.js"></script>
</body>

</html>